<%= turbo_frame_tag "station_frame_#{station.abbr}" do %>
  <li id=<%= "station_#{station.abbr}" %> data-controller="reveal">
    <%= content_tag(:a, simple_format(station.name, {}, wrapper_tag: :span),
      id: "a_#{station.abbr}",
      class: "stationLink", 
      data: { action: "click->reveal#show" }) 
    %>
    
    <div id=<%= "tooltip_#{station.abbr}" %> class="stationTooltip hidden" data-reveal-target="item">
      <div class="stationTitleContainer">
        <div class="stationTitle"> 
          <h3><%= station.name %></h3> 
        </div>
        <div class="closeLink"> 
          <%= link_to '&times;'.html_safe, remove_station_path(station.abbr) %> 
        </div>
      </div>

      <%= render 'spinner_frame', station: station %>
    </div>
  </li>
<% end %>
