<%= turbo_frame_tag("id_#{@station.abbr}") do %>
  <div class="stationTooltip">
    <div class="stationTitleContainer">
      <div class="stationTitle"> <h4> <%= @data['root']['station']['name'] %> </h4> </div>
      <div class="closeLink"> 
        <%= link_to '&times;'.html_safe, remove_station_path(@station.abbr) %>
      </div>
    </div>

    <% unless @data['root']['message'] %>
      <% lines = @data['root']['station']['etd'] %>
      <% lines.each do |line|%>

        <span class='train <%=line['estimate'][0]['color'].downcase %>'>
          <%= line['destination'] %>
        </span>
        <% times = line['estimate'] %>

        <% times.each_with_index do |time, i| %>
          <% if time['minutes'] != "Leaving" %>
              <% if i == times.length - 1 %>
                <%= time['minutes'] + " min" %>
              <% else %>
                <%= time['minutes'] + "," %>
              <% end %>
          <% elsif i == times.length - 1  %>
            <%= "Boarding" %>
          <% else  %>
            <%= "Boarding," %>
          <% end %>
        <% end %>
        <br>
      <% end %>     

    <% else %>
      <%= @data['root']['message'] %>
    <% end %>

    <div class='currentTime'>
        Times as of <%= @data['root']['time'][0..-4] %>  
    </div>
    <div class="toggleLink"> <a>format</a> </div>
  </div>
<% end %>