<%= turbo_frame_tag "id_#{@station.abbr}" do %>
  <div class="stationTooltip">
    <div class="stationTitleContainer">
      <div class="stationTitle"> <h3> <%= @data['root']['station']['name'] %> </h3> </div>
      <div class="closeLink"> 
        <%= link_to '&times;'.html_safe, '#' %>
      </div>
    </div>

    <%= render 'minutes_format' if @time_format == "minutes" %>
    <%= render 'clock_format' if @time_format == "clock" %>

    <div class='currentTime'>
      Times as of <%= @time_now.strftime("%l:%M%p") %>  
    </div>
    <div class="toggleLink"> 
      <%= link_to 'format',
        station_path(id: @station.abbr, 
        time_format: @toggle_format),
        data: { turbo_frame: "id_#{@station.abbr}" }
      %>
    </div>
  </div>

<% end %>